@font-face {
  font-family: 'Segoe UI Light';
  src: url(../fonts/segoeuil.ttf);
}
@font-face {
	font-family: SegoeLight;
	src: url(../fonts/segoeuisl.ttf);
}
@font-face {
	font-family: 'Segoe UI';
	src: url(../fonts/segoeui.ttf);
}
@font-face {
	font-family: 'Segoe UI Bold';
	src: url(../fonts/segoeuib.ttf);
}
@font-face {
	font-family: SegoeBlack;
	src: url(../fonts/seguibl.ttf);
}
