@font-face {
  font-family: SegoeExtraLight;
  src: url(../fonts/segoeuil.ttf);
}
@font-face {
	font-family: SegoeLight;
	src: url(../fonts/segoeuisl.ttf);
}
@font-face {
	font-family: SegoeRegular;
	src: url(../fonts/segoeui.ttf);
}
@font-face {
	font-family: SegoeBold;
	src: url(../fonts/segoeuib.ttf);
}
@font-face {
	font-family: SegoeBlack;
	src: url(../fonts/seguibl.ttf);
}
