@font-face {
  font-family: SegoeExtraLight;
  src: url(../fonts/segoeuil.ttf);
  font-display: fallback;
}
@font-face {
	font-family: SegoeRegular;
	font-display: fallback;
	src: url(../fonts/segoeui.ttf);
}
@font-face {
	font-family: SegoeBold;
	font-display: fallback;
	src: url(../fonts/segoeuib.ttf);
}