/* General */
@import url(fonts.css);

html,
body {
    border: 1px solid red;
}
.container {
    width: 85%!important;
}
.mainWrapper,
.mainWrapperInner {
    height: auto;
}

.btn{
  font-family: SegoeRegular;
}

.row{
  margin-left: 0!important;
  margin-right: 0!important;
}
/* Header - Navigation */

.navbar-default {
    background-color: transparent!important;
    border: none!important;
    padding-top: 35px;
    padding-bottom: 120px;
    padding-left: 20px;
padding-right: 20px;
}
.navbar-brand {
    padding: 0 15px!important;
    margin-top:-5px;
}
.navbar-right li a {
    color: #888888;
    font-size: 1.3em;
    cursor: pointer;
    font-family: SegoeRegular;
}
.navbar-right li a strong {
    color: #444444;
    font-family: SegoeBold;
}
/* Header - Intro */

.headerIntro {
    height: auto;
    display: block;
    overflow: hidden;
    padding-bottom: 150px;
}
.rowHeader h1 {
    color: #444444;
    font-weight: normal!important;
    font-size: 4em;
    font-family: SegoeExtraLight;
}
.rowHeader h1 strong {
  color: #444444;
font-family: SegoeBold;
}
.rowHeader p {
    color: #999999;
    font-size: 1.2em;
    margin-top: 20px;
    font-family: SegoeRegular;
}
.rowHeader p strong {
    color: #666666;
    font-family: SegoeBold;
}
.rowHeader h2 {
    font-family: SegoeRegular;
    color: #95989a;
    line-height: 1.4;
    font-size: 2.2em;
    margin-top: 40px;
    -webkit-animation-delay: 0.7s!important;
    -moz-animation-delay: 0.7s!important;
    animation-delay: 0.7s!important;

}
.buttonGroup {
    margin-top: 60px;
    color: #9ea1a3;
    font-weight: bold;
    -webkit-animation-delay: 0.9s!important;
    -moz-animation-delay: 0.9s!important;
    animation-delay: 0.9s!important;
}
.buttonGroup span {
    font-size: 1.2em;
}
.btnGetStarted {
    border-radius: 2px!important;
    background-color: #249dcb!important;
    border-color: #249dcb!important;
    font-weight: bold!important;
    padding: 15px 30px!important;
    margin-right: 15px!important;
}
.btnWatchVideo {
    border-radius: 2px!important;
    background-color: transparent!important;
    border-color: #c6c6c6!important;
    font-weight: bold!important;
    color: #696969!important;
    padding: 15px 30px!important;
    margin-left: 15px!important;
}
.rowHeader img {
    width: 130%;
    margin-top: 50px;
}
/* Projects */

.rowProjects{
      display: block;
      overflow: hidden;
      height: auto;
      padding-bottom: 100px;
}
.rowProjects h4 {
    font-size: 3.6em;
    color: #444444;
    font-weight: bold;
    font-family: SegoeBold;
}
.rowProjects h5 {
    color: #95989a;
    font-size: 1.8em;
    font-family: SegoeRegular;
    line-height: 1.4em;
    margin-top:15px;
    margin-bottom:50px;
}
.rowProjects ul {
    padding: 0;
    position: relative;
    overflow: hidden;
}
.rowProjects img{
  -webkit-box-shadow: -10px 14px 34px 2px rgba(199,199,199,1);
  -moz-box-shadow: -10px 14px 34px 2px rgba(199,199,199,1);
  box-shadow: -10px 14px 34px 2px rgba(199,199,199,1);
}
.projectAutomatio{
  padding-top:150px;
}
.projectAutomatio h5{
  width:85%;
}
.projectWireflow{
  padding-top:90px;
  margin-left: -100px
}
.projectWireflow h4{
  float: left;
  margin-right: 30px;
}
.projectWireflow h5{
  width:90%;
}
.projectWekan{
  margin-top:-200px;
  float: right;
}
.projectWekan img{
  float: right;
  width: 93% !important;
}
.projectWekanTxt{
  padding-top:200px;

}
.projectWekanTxt h5{
    width:100%!important;
}


/* About */

.rowAbout {
    display: block;
    overflow: hidden;
    height: auto;
}
.aboutAppDev,
.aboutWebDesign {
    background: #f9f6f6;
    padding-top: 80px;
    padding-bottom: 80px;
}
.aboutAppDev img,
.aboutWebDesign img {
    float: right;
}
.aboutJavascript {
    padding-top: 80px;
    padding-bottom: 80px;
}
.aboutJavascript img {
    float: left;
}
.aboutAppDev p,
.aboutWebDesign p,
.aboutJavascript p {
    color: #a1a3a5;
    font-size: 1.6em;
    font-family: SegoeRegular;
}
.rowAbout h2 {
    color: #444444;
    font-size: 2.6em;
    font-family: SegoeBold;
}
/* CTA */

.rowCTA {
    background: #ece9e9;
    padding: 50px 30px;
    border-bottom: 5px solid #fff;
    overflow-x: hidden;

}
.rowCTA h2 {
    font-size: 3.6em;
    font-family: SegoeExtraLight;
}
.rowCTA strong{
  font-family: SegoeBold;
}
.rowCTA p {
    color: #a8a7a7;
    margin-top: 30px;
    font-size: 1.4em;
    font-family: SegoeRegular;
}
.rowCTA .btn {
    border-radius: 2px;
    background-color: #249dcb;
    border-color: #249dcb;
    font-weight: bold;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 1.4em;
    margin-top: 20px;
}
/* Team */

.rowTeam ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.rowTeam ul li {
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
    overflow: hidden;
}
.rowTeam ul li img {
    width: 100%;
}
.teamBoxInner {
    position: absolute;
    bottom: 40px;
    color: #fff;
    padding: 0 40px;
}
.purple {
    position: absolute;
    background-color: rgba(93, 98, 152, 0.69);
    height: 100%;
    width: 100%;
}
.teamBoxInner h5 {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: SegoeRegular;
}
.teamBoxInner h4 {
    font-size: 3em;
    font-family: SegoeRegular;
}
.communityBlockInner {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    color: #fff;
    text-transform: capitalize;
}
.communityBlockInner p {
    opacity: 0.8;
    font-family: SegoeBold;
}
.communityBlock .purple {
    display: block;
}
.communityBlockOuter {
    display: table;
    height: 100%;
    width: 100%;
}
.communityBlockInner button {
    border-radius: 2px;
    background-color: transparent;
    border-color: #fff;
    font-weight: bold;
    color: #fff;
    padding: 15px 50px;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 0.4em;
    font-family: SegoeRegular;
}
/* Feedback */

.rowFeedback h2 {
    color: #444444;
    font-size: 4em;
    font-weight: bold;
    margin-top: 40px;
    font-family: SegoeBold;
}
.rowFeedback h3 {
    color: #adadad;
    margin-top: 30px;
    font-size: 2em;
    line-height: 1.4em;
    font-family: SegoeRegular;
}
.rowFeedback .details {
    display: block;
    overflow: hidden;
    margin-top: 100px;
    padding: 0;

    background-image: url("../../public/img/homeAssets/feedbackBg2.png");
    background-position: 0;
    background-size: cover;
    padding-bottom: 150px;
}
.rowFeedback .details li {
    border: 2px solid #ececec;
    border-radius: 25px;
    padding: 40px;
    list-style: none;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 3px 9px 1px rgba(236, 236, 236, 1);
    -moz-box-shadow: 0px 3px 9px 1px rgba(236, 236, 236, 1);
    box-shadow: 0px 3px 9px 1px rgba(236, 236, 236, 1);
    background-color: rgba(255, 255, 255, 0.5);
}
.rowFeedback .details li .media-left {
    display: block;
    float: left;
}
.rowFeedback .details li .media-left a img{
  margin-right:20px;
}
.rowFeedback .details li:nth-child(odd) {
    margin-left: 15%;
}
.rowFeedback .details li:nth-child(even) {
    margin-left: 35%;
}
.rowFeedback .details li p {
    color: #999999;
    font-size: 2em;
    font-style: italic;
    line-height: initial;
    font-family: SegoeRegular;
}
.rowFeedback .details li h4 {
    color: #333;
    font-size: 2.4em;
    margin-bottom: 20px;
    font-family: SegoeRegular;
}
.rowFeedback .details li h5 {
    margin-bottom: 20px;
    font-family: SegoeRegular;
}
.rowFeedback .details li h5 span:first-child {
    color: #999;
    font-weight: bold;
    padding-right: 20px;
}
.rowFeedback .details li h5 span:last-child {
    color: #787878;
    font-weight: bold;
}
/* Tech */

.rowTech h2 {
    color: #444444;
    font-size: 3.6em;
    margin-top: 60px;
    font-family: SegoeExtraLight;
}
.rowTech h2 strong {
  font-family: SegoeBold;
}
.rowTech h3 {
    color: #adadad;
    margin-top: 30px;
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: SegoeRegular;
}
.rowTech ul {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 60px;
}
.rowTech li {
    padding: 30px 0px;
    margin-top: 0;
    padding-right: 15px;
}
.rowTech li:nth-child(2n+2) {
    padding-left: 15px;
    float: right;
    padding-right: 0;
}
.techCardInner {
    border: 1px solid #dedfe0;
    border-radius: 10px;
    height: 150px;
}
.techCardInner .media-body div:first-child {
    float: left;
    display: block;
    width: calc(100% - 140px);
padding-top: 30px;
}
.techCardInner .media-left {
    padding-right: 20px;
    padding-left: 30px;
}
.techCardInner .media-body div:last-child {
    width: 100px;
    float: right;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
}
.techCardInner .media-left a{
  display: block;
      width: 250px;
      overflow: hidden;
      border-right: 1px solid #f0f1f1;
}
.techGithubLogo {
    margin-bottom: 5px;
    margin-top: 5px;
}
.githubStars {
    font-size: 1.4em;
    display: block;
    width: auto;
    float: right;
    margin-right: 10px;
    margin-top: -2px;
    font-family: SegoeBold;
}
.media-body,
.media-left,
.media-right {
    vertical-align: middle!important;
}
.media-heading strong {
    color: #2d2c2c;
    font-size: 1.2em;
    font-family: SegoeBold;
}
.media-heading p {
    color: #c6c7c8;
    font-size: 1.1em;
        font-family: SegoeRegular;
}
/* Socials */

.rowSocials {
    background: #f9f9f9;
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}
.rowSocials h2 {
    color: #444444;
    font-size: 4em;
    margin-top: 60px;
    text-transform: capitalize;
    font-family: SegoeBold;
}
.rowSocials h3 {
    color: #95989a;
    line-height: 1.4em;
    font-family: SegoeRegular;
}
.rowSocials ul {
    display: block;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 30px;
}
.rowSocials ul li {
    width: 20%;
    padding: 20px;
}
.socialCardInner {
    background: #fff;
    border: 1px solid #edeeee;
    border-radius: 8px;
    text-align: center;
    -webkit-box-shadow: 6px -1px 11px 5px rgba(237, 238, 238, 1);
    -moz-box-shadow: 6px -1px 11px 5px rgba(237, 238, 238, 1);
    box-shadow: 6px -1px 11px 5px rgba(237, 238, 238, 1);
}
.socialCardInner img {
    margin: 40px auto;
    width: 60%;
}
.instaUsername {
    color: #2d2c2c;
    font-size: 1.8em;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-family: SegoeBold;
    padding-left: 10px;
padding-right: 10px;
}
.instaDescription {
    color: #333333;
    font-weight: bold;
    font-family: SegoeRegular;
    padding-left: 10px;
padding-right: 10px;
}
.instaTags {
    display: block;
    overflow: hidden;
    padding: 40px 10px;
}
.instaTags span {
    border-radius: 25px;
    background: #0084e9;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: SegoeRegular;
    display: block;
    float: left;
}
.instaFollow {
    display: block;
    overflow: hidden;
    padding-left: 10px;
padding-right: 10px;
}
.instaFollowers,
.instaFollowing {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    font-family: SegoeRegular;
}
.instaFollowers .no,
.instaFollowing .no {
    font-size: 3em;
    color: #353d4d;
    font-family: SegoeBold;
}
.instaFollowers .txt,
.instaFollowing .txt {
    font-size: 1.3em;
    color: #353d4d;
    font-family: SegoeRegular;
}
/* Footer */

.rowFooter {
    background: #121212;
    text-align: center;
    padding-bottom: 250px;
}
.rowFooter h2 {
    color: #444444;
    margin-top: 80px;
    font-size: 3.6em;
    font-family: SegoeExtraLight;
}

.rowFooter h2 strong{
  font-family: SegoeBold;
}
.rowFooter h3 {
    color: #929292;
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: SegoeRegular;
}

/* Responsive */

@media (max-width:1900px) {
  .rowProjects h4{
    font-size: 3em;
  }
  .rowProjects h5{
    font-size: 1.4em;
  }
  .rowProjects img{
    width:100%!important;
  }
  .techCardInner .media-left a {
    display: block;
    width: 200px;
  }
  .techCardInner .media-left a img{
    width: 90%;
  }
}

@media (max-width:1760px) {
  .rowHeader h1{
    font-size: 3.2em;
  }
  .rowHeader h2{
    font-size: 1.8em;
  }
  .instaDescription{
    height: 50px;
  }
}
@media (max-width:1600px) {
  .socialCardInner img {
    width: 45%;
  }
  .instaUsername{
    font-size: 1.4em;
  }
  .instaFollowers .no, .instaFollowing .no {
    font-size: 2.4em;
  }
  .rowSocials ul li {
    width: 25%;
}
.teamBoxInner h5{
  height: 60px;
}

}


@media (max-width:1500px) {
  .techCardInner .media-left a {
    display: block;
    width: 120px;
  }

  .rowAbout br{
    display: none;
  }
  .aboutAppDev img, .aboutWebDesign img, .aboutJavascript img{
    width:90%;
  }
  .rowFeedback .details li p{
    font-size: 1.4em;
  }
  .rowFeedback .details li h4{
    font-size: 2.2em;
  }
  .rowFeedback .details li{
    padding:25px;
  }
  .teamBoxInner h5 {
      font-size: 1.4em;
    }
    .teamBoxInner h4 {
    font-size: 2.4em;
  }
}

@media (max-width:1400px){
  .techCardInner .media-body{
    display: none!important;
  }
  .rowTech li {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
  .rowTech li:nth-child(2n+2) {
      padding-left: 15px;
      float: right;
      padding-right: 15px;
  }
  .techCardInner .media-left a{
    width: auto;
    border: none;
    vertical-align: middle;
    display: table-cell;
  }
  .techCardInner .media-left{
    width: 100%;
    height: 100%;
    display: table;
  }
  .rowSocials ul li {
    width: 33.3333%;
}
.rowHeader h1 {
    font-size: 3em;
}
.rowHeader h2 {
    font-size: 1.6em;
}
.aboutAppDev p, .aboutWebDesign p, .aboutJavascript p{
  font-size: 1.4em;
}
.aboutAppDev img, .aboutWebDesign img, .aboutJavascript img{
  margin-top:40px;
}
.projectWireflow{
  margin-left: -20px;
}
.projectWireflow h5 {
    display: block;
    overflow: hidden;
  }
  .rowProjects h4 {
    font-size: 2.2em;
}
.projectWekan {
    margin-top: -100px;
}
.projectWekanTxt {
    padding-top: 100px;
}
.rowCTA h2 {
    font-size: 3.2em;
  }
  .enterLeft-cta{
    width:85%;
  }
  .enterRight-cta{
    width:80%;
  }
  .communityBlockInner {
    padding-left: 20px;
padding-right: 20px;
font-size: 3em;
  }
  .rowFeedback h2 {
    font-size: 3em;
  }
  .rowFeedback h3{
    font-size: 1.6em;
  }

}

@media (max-width:1200px) {
  .rowCTA .text-right, .rowCTA .text-left{
    display:none;
  }
  .rowCTA .text-center{
    width:100%;
  }
  .communityBlockInner {
font-size: 2.4em;
  }
  .rowAbout h2 {
    font-size: 2.2em;
  }
  .rowFeedback .details li {
    width: 60%;
}
.rowProjects{
  padding-bottom:0;
}
}

@media (max-width:991px) {
  .container{
    width:100%!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
  }
  .rowFooter{
    padding-left: 40px!important;
    padding-right: 40px!important;
  }
  .rowSocials ul li {
    width: 50%;
    float: left;
}
.rowSocials ul{
  padding-left: 20px;
  padding-right:20px;
}
.aboutAppDev-img, .aboutWebDesign-img, .aboutJavascript-img{
  display: block;
  overflow: hidden;
  padding-top: 20px;
padding-bottom: 20px;
}
.aboutAppDev-img img, .aboutWebDesign-img img, .aboutJavascript-img img{
  width: 60%;
display: block;
margin: 0 auto;
float: none;
}
.projectAutomatio {
    padding-top: 50px;
}

.rowProjects img {
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
}
.projectWireflow {
    margin-left: 0;
}
.projectWekan {
    margin-top: 90px;
  }
  .projectWekanTxt {
    padding-top: 20px;
}

.rowTeam ul li{
  width: 50%;
  float: left;
}
.rowTeam ul .communityBlock{
  width:100%;
  height: 500px;
}
.rowTeam ul .communityBlock img{
  height:100%;
}
.rowFeedback .details li {
    padding: 25px;
    margin: 0 !important;
  margin-bottom: 20px !important;
}
.rowFeedback {
    padding-left: 40px;
    padding-right: 40px;

}
.rowFeedback .details{
  padding-bottom: 20px;
}
.headerIntro{
  padding-bottom: 20px;
}
.rowHeader img {
    width: 100%;
  }
  .navbar-default{
    padding-bottom: 50px;
  }
  .communityBlockInner {
    font-size: 4em;
}
.rowFeedback .details li {
  width: 100%;
}
.rowTech h2{
  font-size: 3em;
}
.rowTech h3{
  font-size: 1.2em;
}
.rowSocials h2{
  font-size: 3em;
}
.rowSocials h3 {

    font-size: 1.6em;
  }
}

@media (max-width:800px) {
  .techCardInner{
    height: 110px;
  }
  .rowFooter h2 {
    font-size: 3em;
  }
  .rowFeedback h2 {
    font-size: 2.8em;
}
.rowFeedback .details{
  background-image: none;
}
}


@media (max-width:650px) {
  .rowFeedback .details li .media-left a img {
    margin: 0 auto;
    width: 140px;
}
.rowFeedback .details li .media-left{
  display: block;
  float: none;
}
.rowFeedback .media-body{
  text-align: center;
}
  .rowSocials ul li {
    width: 80%;
    margin: 0 auto;
  display: block;
  float: none;
}
.instaTags span{
  display: inline;
float: none;
}
.rowTeam ul li {
    width: 100%;
}
.rowTech li {
    width: 50%;
  }
  .rowHeader h1 {
    font-size: 2.4em;
}
.rowHeader h2 {
    font-size: 1.4em;
}
.rowHeader p{
  font-size:1em;
}
.btn-group-lg > .btn, .btn-lg, .rowCTA .btn{
  font-size: 1em!important;
}
.aboutAppDev, .aboutWebDesign, .aboutJavascript {
    padding-top: 20px;
    padding-bottom: 20px;
}
.rowAbout h2, .rowProjects h4{
  font-size: 2.2em;
}
.aboutAppDev p, .aboutWebDesign p, .aboutJavascript p{
  font-size: 1.4em;
}
.aboutAppDev-img img, .aboutWebDesign-img img, .aboutJavascript-img img{
  width:80%;
}
.projectWireflow h4 {
    float: none;
  }
  .rowProjects {
    padding-bottom: 20px;
}
.rowCTA h2 {
    font-size: 3em;
  }
  .rowCTA {
    background: #ece9e9;
    padding: 20px 30px;
  }
  .rowFeedback h2 {
    font-size: 3em;
  }
  .rowFeedback h3 {
    font-size: 1.6em;
  }
  .rowTech li {
    padding: 15px 0px;
  }
  .rowSocials h2 {
    margin-top: 30px;
  }
  .rowTeam ul .communityBlock {
    height: auto;
}
.teamBoxInner h5 {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: SegoeRegular;
}
.teamBoxInner h4 {
    font-size: 3em;
    font-family: SegoeRegular;
}
.rowFooter h2 {
    font-size: 2.4em;
}
.btnGetStarted, .btnWatchVideo{
  padding:15px!important;
  }
  .rowCTA h2 {
    font-size: 2.4em;
}
.rowCTA p {
    font-size: 1.2em;
  }
  .container{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .rowFooter{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .rowProjects .col-md-8{
    padding-left: 0;
    padding-right: 0;
  }

}

@media (max-width:500px) {
  .teamBoxInner h5 {
      font-size: 1.4em;
    }
    .teamBoxInner h4 {
    font-size: 2.4em;
  }
  .communityBlockInner {
    font-size: 3em;
}
.rowFeedback h2 {
    font-size: 2.2em;
}
.rowFeedback h3 {
    font-size: 1.4em;
}
.rowSocials h2 {
    font-size: 2.2em;
}
.rowSocials h3 {
    font-size: 1.4em;
}
.rowSocials ul li {
  width: 100%;
padding-right: 0;
padding-left: 0;
  }
  .instaTags span {
    display: inline;
    float: left;
}
.rowTech li {
    width: 100%;
    padding: 10px 0px;
}
.rowTech li:nth-child(2n+2) {
    padding-left: 0;
    float: none;
    padding-right: 0;
}
.techCardInner .media-left a img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
}

@media (max-width:340px) {
  .buttonGroup .btn, .buttonGroup span{
    display: block;
width: 100%;
margin: 0 !important;
float: none;
  }
  .buttonGroup span{
    margin-top:10px!important;
    margin-bottom:10px!important;
    text-align: center;
  }
  .communityBlockInner {
    font-size: 2em;
}
.teamBoxInner{
  bottom:0;
  padding: 0 20px;
}
.teamBoxInner h5 {
    font-size: 1.2em;
}
.container{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.rowFooter{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
}
