@import url(fonts.css);

.loginWrapper {
  font-family: SegoeRegular;
  background-color: #eeeeee;
  width: 100%; }
  .loginWrapper .left-container {
    background-color: #ffffff;
    width: 50%;
    float: left;
    min-height: 100vh;
    padding-bottom: 40px; }
    .loginWrapper .left-container b {
      font-family: SegoeBold; }
    .loginWrapper .left-container .container {
      padding: 0 100px;
      width: 100%; }
    .loginWrapper .left-container .title {
      color: #444444;
      font-family: SegoeExtraLight;
      font-weight: 100;
      font-size: 42px;
      text-align: center;
      margin: 40px auto auto;
      letter-spacing: -2px;
      line-height: 45px; }
    .loginWrapper .left-container .sub-title {
      color: #666666;
      font-family: SegoeLight;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
      margin: 30px auto auto;
      letter-spacing: -0.2px; }

        .wizard-container .left-container .wizard-form .login-button-container .facebook-button {
          padding: 15px;
          background: #4471F1;
          font-family: SegoeExtraLight;
          font-weight: 100;
          outline: none;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          font-size: 16px;
          margin-right: 15px;
          margin-top: 20px; }
          .wizard-container .left-container .wizard-form .login-button-container .facebook-button img {
            height: 20px;
            margin-right: 30px; }
        .wizard-container .left-container .wizard-form .login-button-container .register-button {
          padding: 15px;
          margin-top: 20px;
          background: #ffffff;
          border: 1px solid #ededed;
          font-family: SegoeRegular;
          outline: none;
          border-radius: 5px;
          color: #333333;
          font-size: 16px;
          margin-left: 15px; }

  .loginWrapper .right-container {
    background-color: #eeeeee;
    width: 50%;
    float: left;
    min-height: 100vh;
    position: relative; }
    .loginWrapper .right-container img {
      padding: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 90%; }
  .loginWrapper.freelancer .title {
    max-width: initial; }
  .loginWrapper.freelancer .sub-title {
    max-width: initial; }
.loginWrapper .form{
      margin-top: 20px;
}
.loginWrapper .form-heading{
  display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #505050;
}
.loginWrapper .form input[type="email"],
.loginWrapper .form input[type="password"],
.loginWrapper .form input[type="number"],
.loginWrapper .form input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ededed;
    outline: none;
}
.loginWrapper .login-button{
  width: 100%;
    padding: 15px;
    background: #4471F1;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}
.rowLoginInput{
  margin-top:40px;
}
.btnLoginFb{
  padding: 15px;
background: #4471F1;
font-family: SegoeExtraLight;
font-weight: 100;
outline: none;
border: none;
border-radius: 5px;
color: #ffffff;
font-size: 16px;
margin-right: 15px;
margin-top: 20px;
    width: 100%;
}
.btnLoginFb img, .btnLoginTw img{
  height: 20px;
margin-right: 30px;
}

.btnLoginTw{

  padding: 15px;
background: #2aaae0;
font-family: SegoeExtraLight;
font-weight: 100;
outline: none;
border: none;
border-radius: 5px;
color: #ffffff;
font-size: 16px;
margin-right: 15px;
margin-top: 20px;
    width: 100%;
}

.rowSocialLogin .or{
  margin-top:55px;
}

@media only screen and (max-width: 1280px) {
  .loginWrapper .left-container .container {
    padding: 0 40px; }
  .loginWrapper .left-container .facebook-button {
    display: block;
    margin: auto auto 20px !important; }
  .loginWrapper .left-container .register-button {
    display: block;
    margin: 20px auto auto !important; } }
@media only screen and (max-width: 991px) {
  .loginWrapper .left-container .container .title {
    font-size: 32px; }
  .loginWrapper .left-container .container .sub-title {
    font-size: 14px; } }
@media only screen and (max-width: 768px) {
  .loginWrapper .left-container {
    width: 100%; }
    .loginWrapper .left-container .container .title {
      font-size: 32px; }
    .loginWrapper .left-container .container .sub-title {
      font-size: 14px; }
  .loginWrapper .right-container {
    display: none; } }

/*# sourceMappingURL=wizard.css.map */
