@import url(fonts.css);
.clear {
  clear: both; }

.wizard-container {
  font-family: SegoeRegular;
  background-color: #eeeeee;
  width: 100%; }
  .wizard-container .left-container {
    background-color: #ffffff;
    width: 50%;
    float: left;
    min-height: 100vh;
    padding-bottom: 40px; }
    .wizard-container .left-container b {
      font-family: SegoeBold; }
    .wizard-container .left-container .container {
      padding: 0 100px;
      width: 100%; }
    .wizard-container .left-container .title {
      color: #444444;
      font-family: SegoeExtraLight;
      font-weight: 100;
      font-size: 42px;
      text-align: center;
      margin: 40px auto auto;
      letter-spacing: -2px;
      line-height: 45px; }
    .wizard-container .left-container .sub-title {
      color: #666666;
      font-family: SegoeLight;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
      margin: 30px auto auto;
      letter-spacing: -0.2px; }
    .wizard-container .left-container .wizard-steps {
      width: 100%;
      margin-top: 50px; }
      .wizard-container .left-container .wizard-steps ul {
        padding: 0;
        position: relative;
        margin-top: -13px; }
        .wizard-container .left-container .wizard-steps ul li {
          display: inline-block;
          border-color: #DEE6FC;
          width: 20%; }
          .wizard-container .left-container .wizard-steps ul li .circle {
            border: 2px solid #DEE6FC;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            margin: auto;
            background: #ffffff; }
          .wizard-container .left-container .wizard-steps ul li.active .circle {
            border: 7px solid #DEE6FC; }
      .wizard-container .left-container .wizard-steps .line {
        border-top: 2px solid #DEE6FC;
        width: calc(80%);
        margin: auto; }
    .wizard-container .left-container .wizard-form {
      padding: 0 10px; }
      .wizard-container .left-container .wizard-form .form {
        margin-top: 20px; }
        .wizard-container .left-container .wizard-form .form .form-heading {
          display: block;
          font-size: 18px;
          margin-bottom: 10px;
          color: #505050; }
        .wizard-container .left-container .wizard-form .form .form-subheading {
          display: block;
          font-size: 15px;
          color: #95989A; }
        .wizard-container .left-container .wizard-form .form input[type="email"],
        .wizard-container .left-container .wizard-form .form input[type="password"],
        .wizard-container .left-container .wizard-form .form input[type="text"] {
          width: 100%;
          padding: 15px 20px;
          border-radius: 5px;
          border: 1px solid #ededed;
          outline: none; }
        .wizard-container .left-container .wizard-form .form input[type="radio"] {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border: 1px solid #DBDBDB;
          border-radius: 50%;
          background-color: #ffffff;
          outline: 0;
          vertical-align: top; }
        .wizard-container .left-container .wizard-form .form input[type="radio"]:checked {
          background-color: #4471F1;
          border: 3px solid #DBDBDB; }
        .wizard-container .left-container .wizard-form .form .radio-label {
          font-size: 18px;
          color: #5F5F5F;
          font-family: SegoeExtraLight;
          margin-right: 20px;
          vertical-align: middle; }
          .wizard-container .left-container .wizard-form .form .radio-label input {
            margin-right: 5px; }
        .wizard-container .left-container .wizard-form .form textarea {
          width: 100%;
          padding: 15px 20px;
          border-radius: 5px;
          border: 1px solid #ededed;
          outline: none;
          resize: none; }
        .wizard-container .left-container .wizard-form .form .select2-container {
          width: 100% !important; }
          .wizard-container .left-container .wizard-form .form .select2-container .select2-selection {
            min-height: 52px;
            border: 1px solid #ededed;
            padding: 10px;
            border-radius: 5px; }
          .wizard-container .left-container .wizard-form .form .select2-container .select2-selection__arrow {
            min-height: 50px; }
          .wizard-container .left-container .wizard-form .form .select2-container .select2-selection__choice {
            background-color: #E3E3EB;
            border-radius: 50px;
            padding: 2px 10px; }
          .wizard-container .left-container .wizard-form .form .select2-container .select2-search__field {
            width: 100% !important; }
        .wizard-container .left-container .wizard-form .form .slider-container .slider-label {
          font-size: 16px;
          color: #505050;
          font-family: SegoeExtraLight;
          width: 65px;
          display: inline-block; }
        .wizard-container .left-container .wizard-form .form .slider-container .slider {
          display: inline-block;
          max-width: 300px;
          width: calc(100% - 150px);
          margin-right: 20px;
          vertical-align: middle; }
        .wizard-container .left-container .wizard-form .form .slider-container .ui-slider-horizontal .ui-slider-range {
          background-color: #4C4C4D; }
        .wizard-container .left-container .wizard-form .form .slider-container .ui-slider .ui-slider-handle {
          border-radius: 50%;
          background-color: #4471F1;
          border: none;
          outline: none;
          top: -8px; }
        .wizard-container .left-container .wizard-form .form .slider-container .ui-slider-horizontal {
          height: 3px; }
      .wizard-container .left-container .wizard-form .device-type-card {
        width: 100%;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 10px 20px;
        display: table;
        margin-top: 20px;
        cursor: pointer; }
        .wizard-container .left-container .wizard-form .device-type-card .radiobox-container {
          display: table-cell;
          width: 10%;
          vertical-align: middle; }
        .wizard-container .left-container .wizard-form .device-type-card .detail-container {
          display: table-cell;
          width: 60%;
          vertical-align: middle;
          padding-right: 80px; }
          .wizard-container .left-container .wizard-form .device-type-card .detail-container h1 {
            font-family: SegoeBold;
            font-size: 14px;
            margin: 5px 0;
            color: #2D2C2C; }
          .wizard-container .left-container .wizard-form .device-type-card .detail-container p {
            font-size: 11px;
            color: #B9BBBC; }
        .wizard-container .left-container .wizard-form .device-type-card .icon-container {
          display: table-cell;
          vertical-align: middle;
          width: 30%;
          border-left: 1px solid #ededed;
          padding-right: 20px; }
          .wizard-container .left-container .wizard-form .device-type-card .icon-container .image-container {
            width: 50px;
            text-align: center;
            margin: auto; }
            .wizard-container .left-container .wizard-form .device-type-card .icon-container .image-container img {
              max-width: 50px;
              max-height: 50px;
              height: 100%; }
      .wizard-container .left-container .wizard-form .button-container {
        margin-top: 40px; }
        .wizard-container .left-container .wizard-form .button-container button {
          width: 100%;
          padding: 15px;
          background: #4471F1;
          outline: none;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 16px; }
          .wizard-container .left-container .wizard-form .button-container button.danger {
            background-color: #FF6464; }
      .wizard-container .left-container .wizard-form .calander-container {
        margin-top: 20px; }
      .wizard-container .left-container .wizard-form .login-button-container {
        margin-top: 30px; }
        .wizard-container .left-container .wizard-form .login-button-container .facebook-button {
          padding: 15px;
          background: #4471F1;
          font-family: SegoeExtraLight;
          font-weight: 100;
          outline: none;
          border: none;
          border-radius: 5px;
          color: #ffffff;
          font-size: 16px;
          margin-right: 15px;
          margin-top: 20px; }
          .wizard-container .left-container .wizard-form .login-button-container .facebook-button img {
            height: 20px;
            margin-right: 30px; }
        .wizard-container .left-container .wizard-form .login-button-container .register-button {
          padding: 15px;
          margin-top: 20px;
          background: #ffffff;
          border: 1px solid #ededed;
          font-family: SegoeRegular;
          outline: none;
          border-radius: 5px;
          color: #333333;
          font-size: 16px;
          margin-left: 15px; }
      .wizard-container .left-container .wizard-form .image-upload-button {
        padding: 5px 15px;
        margin-top: 20px;
        background: #F18944;
        border: none;
        font-family: SegoeRegular;
        outline: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 13px; }
      .wizard-container .left-container .wizard-form .avatar-container {
        width: 120px;
        height: 120px;
        border-radius: 15px;
        margin: 15px auto;
        background-size: contain;
        box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.3); }
    .wizard-container .left-container .card-container {
      text-align: center; }
      .wizard-container .left-container .card-container .wizard-card {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: auto;
        border-radius: 5px;
        border: 1px solid #ededed;
        background-color: #ffffff;
        margin: 5px;
        padding: 10px;
        cursor: pointer; }
        .wizard-container .left-container .card-container .wizard-card .image {
          width: 100%;
          height: 180px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }
        .wizard-container .left-container .card-container .wizard-card .heading {
          text-align: center;
          font-size: 16px;
          margin: 0;
          width: 100%;
          height: 44px;
          margin-bottom: 5px;
          font-family: SegoeRegular;
          font-weight: bold; }
        .wizard-container .left-container .card-container .wizard-card.active {
          background-color: #f5f5f5;
          border: 1px solid #999999;
          box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.3); }
  .wizard-container .right-container {
    background-color: #eeeeee;
    width: 50%;
    float: left;
    min-height: 100vh;
    position: relative; }
    .wizard-container .right-container img {
      padding: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 90%; }
  .wizard-container.freelancer .title {
    max-width: initial; }
  .wizard-container.freelancer .sub-title {
    max-width: initial; }

@media only screen and (max-width: 1280px) {
  .wizard-container .left-container .container {
    padding: 0 40px; }
  .wizard-container .left-container .facebook-button {
    display: block;
    margin: auto auto 20px !important; }
  .wizard-container .left-container .register-button {
    display: block;
    margin: 20px auto auto !important; } }
@media only screen and (max-width: 991px) {
  .wizard-container .left-container .container .title {
    font-size: 32px; }
  .wizard-container .left-container .container .sub-title {
    font-size: 14px; } }
@media only screen and (max-width: 768px) {
  .wizard-container .left-container {
    width: 100%; }
    .wizard-container .left-container .container .title {
      font-size: 32px; }
    .wizard-container .left-container .container .sub-title {
      font-size: 14px; }
    .wizard-container .left-container .device-type-card .detail-container {
      padding-right: 0 !important; }
    .wizard-container .left-container .device-type-card .icon-container {
      display: none !important; }
  .wizard-container .right-container {
    display: none; } }

/*# sourceMappingURL=wizard.css.map */
